@page "/"

@inject Core.IScoreReporitory repository

@inject NavigationManager navigationManager

<div class="md:max-10">

    <div class="mb-4">

        <PrimaryButton OnClick="OnPlayClicked">
            Just play
        </PrimaryButton>

    </div>

    <div>
        <table class="min-w-full divide-y">

            <thead class="bg-green-600 text-white">
                <tr>
                    <th class="w-20"></th>
                    <th scope="col" class="text-left px-6 py-3 text-xs font-medium uppercase tracking-wider">
                        Score
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                        Time
                    </th>
                    <th scope="col" class="hidden md:table-cell text-left px-6 py-3 text-xs font-medium uppercase tracking-wider">
                        Date
                    </th>
                    <th scope="col" class="relative px-6 py-3">
                        <span class="sr-only">Delete</span>
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-green-400">
                @if (scores != null)
                {
                    @foreach (var score in scores)
                    {
                        <tr>
                            <td class="w-20 text-xs md:text-sm">
                                <div class="flex justify-center">
                                    <svg class="w-6 h-6 @(GetTextColor(score))" fill="currentColor" stroke="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z" />
                                    </svg>
                                </div>
                            </td>
  
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="flex items-center">
                                    <div class="">
                                        <div class="text-sm font-medium text-gray-900">
                                            @score.PointsText
                                        </div>
                                        <div class="text-xs text-gray-500">
                                            @score.Message
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-xs md:text-sm text-gray-900">@score.Time</div>
                            </td>
                            <td class="hidden md:table-cell px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                <span> @score.Date.ToShortDateString()</span>
                            </td>

                            <td class="px-6 py-4 whitespace-nowrap text-right text-xs md:text-sm font-medium">

                                <div class="flex justify-end items-center">
                                    <a @onclick="() => OnDeleteClicked(score)" class="mx-4 cursor-pointer text-red-600 hover:text-red-900">
                                        Eliminar
                                    </a>
                                </div>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code{
    private List<Core.Score> scores;

    protected async override Task OnInitializedAsync()
    {
        scores = (await repository.GetScores()).ToList();
    }

    private void OnPlayClicked()
    {
        navigationManager.NavigateTo("/main");
    }

    private string GetTextColor(Core.Score score)
    {
        if (Core.AchievementFactory.GoldMedal.TryToUnlockAchievement(score))
        {
            return Core.AchievementFactory.GoldMedal.GetColor();
        }

        if (Core.AchievementFactory.GoldMedal.TryToUnlockAchievement(score))
        {
            return Core.AchievementFactory.SilverMedal.GetColor();
        }

        if (Core.AchievementFactory.GoldMedal.TryToUnlockAchievement(score))
        {
            return Core.AchievementFactory.BronzeMedal.GetColor();
        }

        return "";
    }

    private async Task OnDeleteClicked(Core.Score score)
    {
        await repository.RemoveScore(score);
        scores.Remove(score);
    }

}